.header{
    width: 100%;
    height: 300px;
    background-image: url("../assets/images/homework_Front-End_01/bitmap@3x.png");
    background-color: #cccccc;  
    background-position: center; 
    background-repeat: no-repeat;  
    background-size: cover;  
    /* margin-top: -26px; */
    margin-top: 60px;
  display: flex;
  justify-content: center;
  text-align: center;

   
}

.footer{
    width: 100%;
    height: 200px;
    background-image: url("../assets/images/homework_Front-End_01/bitmap_2@3x.png");
    background-color: #cccccc;  
    background-position: center; 
    background-repeat: no-repeat;  
    background-size: cover;  
 
  
}
.footer p {
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.50;
    letter-spacing: normal;
    color: #ffffff;
}
.footer-info-section{
    padding: 2% 10%;
}
.category-name{
    width: max-content;
    padding: 5px 14px;
    background-color: #57E690;
    border-radius: 25px;
    color: #fff;
    margin: 20px;
}
.divider{
    height: 1px;
    width: 100%;
    background-color: #D0BA93;
}

.submit-joke{
    text-transform: uppercase;
    color: #D0BA93;
    font-size: 14px;
    /* margin: 231px 15px; */
    font-weight: 600;
    cursor: pointer;
}
.p-0 {
       width: 350px;
       height: 72px; 
       font-size: 48px;
       line-height: 72px;
       color: #cfb995;
}
.header-info{
    width: 350px;
}
.p-1{
    width: 350px;
    height: 72px; 
    font-size: 23px;
    line-height: 0px;
    color: #ffffff;
}
.input-search{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: -12px;
}
.input-search input {
    background-color: transparent;
    border: 1px solid #ffffff;
    width: 106%;
    height: 37px;
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 19px;
    color: #ffffff;

}
.input-search img {
    margin-left: -30px;
    z-index: 99;
    width: 20px;
    height: 20px;
    margin-top: 9px;
}

.category-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.category{
    width: 206px ;
    height: 20px ;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    border-radius: 1px;
    color: #ffffff;
    cursor: pointer;
    padding-top: 14px;
    padding-bottom: 14px;
    margin: 20px;
    

}

.category:hover  {
    transform: scale(1.01);
}
.container{
  padding:  2% 10%;
  background-color: #f9f9f9;
}
.adult-jokes{
    background-color: #ff5b5b;
    border: 1px solid #ff5b5b;
}
.dad-jokes{
  background-color: #ff915b;
  border: 1px solid #ff915b;
}
.new{
    background-color: #D0BA93;
    border: 1px solid #D0BA93;
}
.christmas-jokes {
    background-color: #ffbe5b;
    border: 1px solid #ffbe5b;
}
.job-jokes{
    background-color: #ffdf5b;
    border: 1px solid #ffdf5b;
}
.birthday-jokes{
    background-color: #8fe360;
    border: 1px solid #8fe360;
}
.social-jokes{
    background-color: #57E690;
    border: 1px solid #57E690;
}
.puns{
    background-color: #57dbe6;
    border: 1px solid #57dbe6;
}
.view-all{
    background-color: transparent;
    color: #D0BA93;
    border: 1px solid #D0BA93;
}
.view-all img {
    float: right;
    margin-right: 10px;
}
.pots-section{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* height: 110px;
    overflow: scroll; */
}
 .post{
    width: 360px;
    height: 264px;
    box-shadow: 0px 0px 2px #aaaaaa;
    margin: 20px;
    cursor: pointer;
 } 
 .post:hover{
    transform: scale(1.01);
    box-shadow: 0px 0px 8px #aaaaaa;
 }
.post-title{
    width: 206px;
    height: 20px;
    margin: 0 0 6px 8px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #303030;
    position: absolute;
    padding: 16px 122px 128px 32px  ;
}

.post-content{
    width: 328px;
    height: 154px;
    margin:  6px 0 32px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #303030;
    position: absolute;
    padding: 42px 31px 62px 25px  ;
}
.see-status{
    text-transform: uppercase;
    color: #D0BA93;
    float: right;
    font-size: 14px;
    margin: 231px 15px;
    font-weight: 600;
    cursor: pointer;
}

.view-more-section{
    display: flex;
    justify-content: center;
}

@media screen and (max-width : 642px ) {
    .p-0 {
        width: 350px;
        height: 72px; 
        font-size: 31px;
        line-height: 72px;
        color: #cfb995;
 }
 .p-1{
     width: 350px;
     height: 72px; 
     font-size: 15px;
     line-height: 0px;
     color: #ffffff;
 }
 .input-search input {
    background-color: transparent;
    border: 1px solid #ffffff;
    width: 68%;
    height: 31px;
    border-radius: 5px;
    padding: 0px 9px;
    font-size: 13px;
    color: #ffffff;

}
.header{
    background-image: url("../assets/images/homework_Front-End_01/bitmap.png");

}
.view-all {
    background-color: transparent;
    color: #D0BA93 !important;
    border: 1px solid #D0BA93;
    font-size: 9px !important;
}
.category {
    width: 66px;
    height: 7px;
    font-size: 11px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    border-radius: 1px;
    color: #ffffff;
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 14px;
    margin: 20px;
}
.post-title {
    width: 206px;
    height: 20px;
    margin: 0 0 6px 8px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #303030;
    position: absolute;
    padding: 16px 122px 128px 18px;
}
.post-content {
    width: 298px;
    height: 187px;
    margin: 6px 0 32px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #303030;
    position: absolute;
    padding: 42px 31px 62px 25px;
}
.see-status {
    text-transform: uppercase;
    color: #D0BA93;
    float: right;
    font-size: 14px;
    margin: 164px 10px;
    font-weight: 600;
    cursor: pointer;
}
.post {
    width: 332px;
    height: 195px;
    box-shadow: 0px 0px 2px #aaaaaa;
    margin: 8px;
    cursor: pointer;
}
.container{
    padding:  2% 1%;
    background-color: #f9f9f9;
  }
}

@media screen and (max-width : 450px) {
    .post-content {
        width: 231px;
        height: 187px;
        margin: 6px 0 32px;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        color: #303030;
        position: absolute;
        padding: 42px 9px 62px 7px;
    }
    .post {
        width: 270px;
        height: 224px;
        box-shadow: 0px 0px 2px #aaaaaa;
        margin: 8px;
        cursor: pointer;
    }
    .see-status {
        text-transform: uppercase;
        color: #D0BA93;
        float: right;
        font-size: 9px;
        margin: 205px 10px;
        font-weight: 600;
        cursor: pointer;
    }
    .container{
        padding:  2% 1%;
        background-color: #f9f9f9;
      }
}